body {
    background-color: var(--header-bg);
    color: var(--p-text);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

#navbar {
    width: 100vw;
    height: 5vh;
    top: 0%;
    padding:3vh;
    background-color: var(--toolbar-bg);
    position: sticky;
    position: -webkit-sticky;
}

.nav-text {
    float: left;
    margin: 2vh;
}

.nav-text:hover {
    font-weight: bold;
}

#themes {
    float: right;
    display: inline-flex;
    margin-right: 3vw;
}

#theme-select {
    height: fit-content;
    margin: 2.5vh 1vw;
}

#header {
    width: 100vw;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-top: 2vh;
}

#content {
    justify-content: center;
    margin: 2vh 1vh;
    width: 95vw;
}

dt {
    font-weight: bold;
}
#About, #Docs, #App {
    background-color: var(--toolbar-bg);
    border: var(--toolbar-border);
    border-radius: 20px;
    margin: 15px;
    width: 30vw;
    height: 50vh;
    float: left;
    box-shadow: 4px 8px 4px var(--mode-btn-icon-color);
    text-align: center;
    
}

.card:hover {
    transform: translateY(5px);
    font-weight: bold;
}

cite {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: var(--p-text);
}

.card-icon {
    font-size: xx-large;
    display: block;
    transform: translateY(15vh);
}

.card-text {
    font-size: large;
    transform: translateY(25vh);
    overflow-wrap: break-word;
}