/**
 * @author James Oswald
 */

:root {
    --global-background : #ffffff;
    --p-text : #000000;
    --canvas-bg : #ffffff;
    --canvas-odd-bg : #c3c3c3;
    --canvas-items : #000000;
    --good-placement : #00FF00;
    --bad-placement : #FF0000;
    --header-border: 2px solid #000000;
    --header-bg : #ffffff;
    --toolbar-border: 2px solid #000000;
    --toolbar-bg: #ffffff;
    --subbar-border: 2px solid #000000;
    --subbar-bg: #ffffff;
    --sidebar-border: 2px solid #000000;
    --sidebar-bg: #ffffff;
    --mode-btn-border: 2px solid #000000;
    --mode-btn-bg: buttonface;
    --mode-btn-icon-color : #000000;
    --mode-btn-radius: 0%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: inset 0px 0px 5px #552898; 
}

/* Dark Wireframe, showcases using a new CSS Variable in multiple places:
   --dark-highlights controls the highlight color */
[data-theme="Dark-Wireframe"] {
    --dark-highlights : #762eac;
    --global-background : #000000;
    --p-text : var(--dark-highlights);
    --canvas-bg : #000000;
    --canvas-odd-bg : #6b6b6b;
    --canvas-items : var(--dark-highlights);
    --good-placement : #00ff00;
    --bad-placement : #ff0000;
    --header-border: 2px solid var(--dark-highlights);
    --header-bg : #000000;
    --toolbar-border: 2px solid var(--dark-highlights);
    --toolbar-bg: #000000;
    --subbar-border: 2px solid var(--dark-highlights);
    --subbar-bg: #000000;
    --sidebar-border: 2px solid var(--dark-highlights);
    --sidebar-bg: #000000;
    --mode-btn-border: 2px solid var(--dark-highlights);
    --mode-btn-bg: #000000;
    --mode-btn-icon-color : var(--dark-highlights);
    --mode-btn-radius: 50%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: none; 
}

/* Following two schemes altered according this link: 
https://davidmathlogic.com/colorblind/#%23000000-%23E69F00-%2356B4E9-%23009E73-%23F0E442-%230072B2-%23D55E00-%23CC79A7 */
[data-theme="Light-Colorblind"] {
    --global-background : #ffffff;
    --p-text : #000000;
    --canvas-bg : #ffffff;
    --canvas-odd-bg : #c3c3c3;
    --canvas-items : #000000;
    --good-placement : #009E73;
    --bad-placement : #D55E00;
    --header-border: 2px solid #000000;
    --header-bg : #ffffff;
    --toolbar-border: 2px solid #000000;
    --toolbar-bg: #ffffff;
    --subbar-border: 2px solid #000000;
    --subbar-bg: #ffffff;
    --sidebar-border: 2px solid #000000;
    --sidebar-bg: #ffffff;
    --mode-btn-border: 2px solid #000000;
    --mode-btn-bg: buttonface;
    --mode-btn-icon-color : #000000;
    --mode-btn-radius: 0%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: inset 0px 0px 5px #552898; 
}

[data-theme="Dark-Colorblind"] {
    --dark-highlights : #762eac;
    --global-background : #000000;
    --p-text : var(--dark-highlights);
    --canvas-bg : #000000;
    --canvas-odd-bg : #6b6b6b;
    --canvas-items : var(--dark-highlights);
    --good-placement : #009E73;
    --bad-placement : #D55E00;
    --header-border: 2px solid var(--dark-highlights);
    --header-bg : #000000;
    --toolbar-border: 2px solid var(--dark-highlights);
    --toolbar-bg: #000000;
    --subbar-border: 2px solid var(--dark-highlights);
    --subbar-bg: #000000;
    --sidebar-border: 2px solid var(--dark-highlights);
    --sidebar-bg: #000000;
    --mode-btn-border: 2px solid var(--dark-highlights);
    --mode-btn-bg: #000000;
    --mode-btn-icon-color : var(--dark-highlights);
    --mode-btn-radius: 50%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: none; 
}