body, html{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display:contents;
    background-color: #f9ddd0;


}

p {
    margin: 0px;
    text-emphasis-color: white;
}

#header {
    background-color: #425686;
    border: 2px solid #864879;
    height: 3vw;
    width: 100vw;
    text-align: center;
    padding-top: 1vw;
    box-sizing: border-box;
}

#application {
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: auto;
}

.row {
    display: flex;
}

.modeButton {
    width: 2vw;
    height: 2vw;
    border: 2px solid #864879;
    margin: 3px;
}

#content {
    width: 100%;
    height: auto;
}

#toolbar {
    border: 2px solid #864879;
    width: 95vw;
    float: right;
    height: 2vw;
    box-sizing: border-box;
    background-color: #94b09c;
}

#subBar {
    border: 2px solid black;
    width: 95vw;
    float: right;
    height: 2vw;
    box-sizing: border-box;
    background-color: rgb(203, 231, 198);
}

#cutTools {
    display: none
}

#atomTools {
    display: none
}

.toolSetting {
    margin: 0.1vw;
    display: inline-flex;
    margin: 5px;
}

#sidebar {
    box-sizing: border-box;
    border: 2px solid #864879;
    background-color: #526D82;
    height: 100vh;
    float: left;
    width: 5vw;
}

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.no-highlight{
    user-select: none; 
    -moz-user-select: none; 
    -webkit-text-select: none;
    -webkit-user-select: none; 
 }
