body, html{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display:contents;
    background-color: #ffffff;
}

p {
    margin: 0px;
    text-emphasis-color: #ffffff;
    white-space: nowrap;
}

#header {
    background-color: #a6b6d9;
    border: 2px solid #000000;
    min-height: 7vh;
    width: 100vw;
    text-align: center;
    padding-top: 1vh;
    box-sizing: border-box;
    font-weight: bold;
    font-size: x-large;
}

#application {
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

.modeButton {
    min-width: 2vw;
    min-height: 5vh;
    border: 2px solid #000000;
    margin: 2px;
    border-radius: 25%;
    box-shadow: 1px 2px 1px #000000;
}

.modeButton:active {
    transform: translateY(2px);
}

.modeButton:focus {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}

.modeButton:hover {
  background-color: #d4e8f5;
}

.fileButton {
    float: right;
    margin-right: 10px;
    display: inline-block;
}

#content {
    width: 100%;
    height: auto;
}

#toolbar {
    border: 2px solid #000000;
    border-left: 0px;
    border-top: 0px;
    min-height: 7vh;
    max-height: fit-content;
    width: 100vw;
    box-sizing: border-box;
    background-color: #94b09c;
}

#subBar {
    border: 2px solid black;
    border-left: 0px;
    border-top: 0px;
    min-height: 6vh;
    max-height: fit-content;
    width: 100vw;
    box-sizing: border-box;
    background-color: #bed7be;
}

#cutTools {
    display: none
}

#atomTools {
    display: none
}

.toolSetting {
    margin: 0.1vw;
    display: inline-flex;
    margin: 5px;
}

.tree-string {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

#sidebar {
    box-sizing: border-box;
    border: 2px solid #000000;
    border-top: 0px;
    background-color: #526D82;
    height: 100vh;
    float: left;
    min-width: 6vw;
}

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.no-highlight{
    user-select: none; 
    -moz-user-select: none; 
    -webkit-text-select: none;
    -webkit-user-select: none; 
}