h1 {
    text-align: center;
    color: #a5668b;
    font-size: xx-large;
    border-style: dotted;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #69306d;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f2d7ee;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.sidebar-header {
    background-color: #f1c0ff;
    padding: 50px 20px;
    float: left; 
    margin-right: 1000px;
    margin-left : -450px;
}

.button-container {
    float: left;
    margin-left: 10px;
}

.button {
    --button-offset: 0.48em;
    --bg: 178, 60%, 48%;
    background-color:#a5668b;
    border: 0;
    border-radius: 0.2em;
    padding: 0.1em;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    box-shadow: 0 8px 0 0 #1b2323;
    cursor: pointer;
    display: block; 
    margin-bottom: 10px; 
}

.button:active,
.button:focus-visible {
    transform: translateY(16px);
    box-shadow: none;
}
