/**
 * @author James Oswald
 */

/* Default Theme, Hurda-Tiwari Nature Theme*/
:root {
    --global-background : #ffffff;
    --p-text : #000000;
    --header-border: 2px solid #000000;
    --header-bg : #a6b6d9;
    --toolbar-border: 2px solid black;
    --toolbar-bg: #94b09c;
    --subbar-border: 2px solid black;
    --subbar-bg: #bed7be;
    --sidebar-border: 2px solid #000000;
    --sidebar-bg: #526D82;
    --mode-btn-border: 2px solid #000000;
    --mode-btn-bg: buttonface;
    --mode-btn-icon-color : #000000;
    --mode-btn-radius: 25%;
    --mode-btn-hover-bg: #d4e8f5;
    --mode-btn-shadow: 1px 2px 1px #000000;
    --mode-btn-press-shadow: inset 0px 0px 5px #000000; 
}

[data-theme="Wireframe"] {
    --global-background : #ffffff;
    --p-text : #000000;
    --canvas-bg : #ffffff;
    --canvas-items : #000000;
    --good-placement : #00FF00;
    --bad-placement : #FF0000;
    --header-border: 2px solid #000000;
    --header-bg : #ffffff;
    --toolbar-border: 2px solid #000000;
    --toolbar-bg: #ffffff;
    --subbar-border: 2px solid #000000;
    --subbar-bg: #ffffff;
    --sidebar-border: 2px solid #000000;
    --sidebar-bg: #ffffff;
    --mode-btn-border: 2px solid #000000;
    --mode-btn-bg: buttonface;
    --mode-btn-icon-color : #000000;
    --mode-btn-radius: 0%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: inset 0px 0px 5px #552898; 
}

/* Dark Wireframe, showcases using a new CSS Variable in multiple places:
   --dark-highlights controls the highlight color */
[data-theme="Dark-Wireframe"] {
    --dark-highlights : #4297ad;
    --global-background : #000000;
    --p-text : var(--dark-highlights);
    --canvas-bg : #000000;
    --canvas-items : var(--dark-highlights);
    --good-placement : #00FF00;
    --bad-placement : #FF0000;
    --header-border: 2px solid var(--dark-highlights);
    --header-bg : #000000;
    --toolbar-border: 2px solid var(--dark-highlights);
    --toolbar-bg: #000000;
    --subbar-border: 2px solid var(--dark-highlights);
    --subbar-bg: #000000;
    --sidebar-border: 2px solid var(--dark-highlights);
    --sidebar-bg: #000000;
    --mode-btn-border: 2px solid var(--dark-highlights);
    --mode-btn-bg: #000000;
    --mode-btn-icon-color : var(--dark-highlights);
    --mode-btn-radius: 50%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: none; 
}

[data-theme="vs-code"] {
    --p-text : rgb(220, 220, 170);
    --canvas-bg : rgb(31, 31, 31);
    --canvas-items : rgb(156, 220, 254);
    --good-placement : rgb(115, 201, 145);
    --bad-placement : rgb(244, 71, 71);
    --header-border: 1px solid rgb(204, 204, 204);
    --header-bg : rgb(43, 43, 43);
    --toolbar-border: 1px solid rgb(204, 204, 204);
    --toolbar-bg: rgb(43, 43, 43);
    --subbar-border: 1px solid rgb(204, 204, 204);
    --subbar-bg: rgb(43, 43, 43);
    --sidebar-border: 1px solid rgb(204, 204, 204);
    --sidebar-bg: rgb(43, 43, 43);
    --mode-btn-border: 1px solid rgb(204, 204, 204);
    --mode-btn-bg: rgb(43, 43, 43);
    --mode-btn-icon-color : rgb(134, 134, 134);
    --mode-btn-radius: 10%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: none; 
}
