/**
 * @author James Oswald
 */

/* Default Theme, Huda-Tiwari Nature Theme*/
:root {
    --global-background : #ffffff;
    --p-text : #000000;
    --canvas-items : #000000;
    --good-placement : #00FF00;
    --bad-placement : #FF0000;
    --header-border: 2px solid #000000;
    --header-bg : #a6b6d9;
    --toolbar-border: 2px solid black;
    --toolbar-bg: #94b09c;
    --subbar-border: 2px solid black;
    --subbar-bg: #bed7be;
    --sidebar-border: 2px solid #000000;
    --sidebar-bg: #526D82;
    --mode-btn-border: 2px solid #000000;
    --mode-btn-bg: buttonface;
    --mode-btn-icon-color : #000000;
    --mode-btn-radius: 25%;
    --mode-btn-hover-bg: #d4e8f5;
    --mode-btn-shadow: 1px 2px 1px #000000;
    --mode-btn-press-shadow: inset 0px 0px 5px #000000; 
}

[data-theme="Wireframe"] {
    --global-background : #ffffff;
    --p-text : #000000;
    --canvas-bg : #ffffff;
    --canvas-items : #000000;
    --good-placement : #00FF00;
    --bad-placement : #FF0000;
    --header-border: 2px solid #000000;
    --header-bg : #ffffff;
    --toolbar-border: 2px solid #000000;
    --toolbar-bg: #ffffff;
    --subbar-border: 2px solid #000000;
    --subbar-bg: #ffffff;
    --sidebar-border: 2px solid #000000;
    --sidebar-bg: #ffffff;
    --mode-btn-border: 2px solid #000000;
    --mode-btn-bg: buttonface;
    --mode-btn-icon-color : #000000;
    --mode-btn-radius: 0%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: inset 0px 0px 5px #552898; 
}

/* Dark Wireframe, showcases using a new CSS Variable in multiple places:
   --dark-highlights controls the highlight color */
[data-theme="Dark-Wireframe"] {
    --dark-highlights : #762eac;
    --global-background : #000000;
    --p-text : var(--dark-highlights);
    --canvas-bg : #000000;
    --canvas-items : var(--dark-highlights);
    --good-placement : #00FF00;
    --bad-placement : #FF0000;
    --header-border: 2px solid var(--dark-highlights);
    --header-bg : #000000;
    --toolbar-border: 2px solid var(--dark-highlights);
    --toolbar-bg: #000000;
    --subbar-border: 2px solid var(--dark-highlights);
    --subbar-bg: #000000;
    --sidebar-border: 2px solid var(--dark-highlights);
    --sidebar-bg: #000000;
    --mode-btn-border: 2px solid var(--dark-highlights);
    --mode-btn-bg: #000000;
    --mode-btn-icon-color : var(--dark-highlights);
    --mode-btn-radius: 50%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: none; 
}

[data-theme="vs-code"] {
    --p-text : #DCDCAA;
    --canvas-bg : #1F1F1F;
    --canvas-items : #9CDCFE;
    --good-placement : #73C991;
    --bad-placement : #F44747;
    --header-border: 1px solid #CCCCCC;
    --header-bg : #2B2B2B;
    --toolbar-border: 1px solid #CCCCCC;
    --toolbar-bg: #2B2B2B;
    --subbar-border: 1px solid #CCCCCC;
    --subbar-bg: #2B2B2B;
    --sidebar-border: 1px solid #CCCCCC;
    --sidebar-bg: #2B2B2B;
    --mode-btn-border: 1px solid #CCCCCC;
    --mode-btn-bg: #2B2B2B;
    --mode-btn-icon-color : #868686;
    --mode-btn-radius: 10%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: none; 
}

[data-theme="Peirced-from-Within"] {
    --dark-highlights : #B11D20;
    --p-text : #F5D51D;
    --canvas-bg : #07140E;
    --canvas-items : #F4F3CD;
    --good-placement : #46FF00;
    --bad-placement : #C60003;
    --header-border: 1px solid #0A1E0A;
    --header-bg : #151715;
    --toolbar-border: 1px solid #02281C;
    --toolbar-bg: #150F12;
    --subbar-border: 1px solid #05281C;
    --subbar-bg: #201412;
    --sidebar-border: 1px solid #05281C;
    --sidebar-bg: #05141D;
    --mode-btn-border: 1px solid #05281C;
    --mode-btn-bg: r#2B2B2B;
    --mode-btn-icon-color : #868686;
    --mode-btn-radius: 0%;
    --mode-btn-hover-bg: none;
    --mode-btn-shadow: none;
    --mode-btn-press-shadow: none; 
}